body{
  font-family: "Poppins", sans-serif;
  background-color: #e4e4e4;
  display: block;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

img {
  border-radius: 100%;
}

label {
    color: white;
}

li {
  list-style: none;
  font-size: 28px;
  left: 0px;
}

h1 {
  margin-top: 10px;
}

text {
  color: white;
}

.cont {
  width: 800px;
  padding: 20px;
  margin:auto;
  margin-top: 25px;
  background-color: #ebf0f7;
  border-radius: 12px;
}

.caixa {
  justify-content: center;
  text-align: center;
  width: auto;
  background-color: #122f4a;
  padding: 20px;
  border-radius: 12px;
}

.caixaturmas {
  align-items: center;
  justify-content: space-between;
  color: #ebf0f7;
  width: auto;
  padding: 12px 0px 12px 0px;
  background-color: #122f4a;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
  text-align: center;
}

.caixaturmas label {
  margin: 0px auto 0px auto;
}

.caixa h1 {
  margin-top: 0px;
}

.caixa img {
  justify-content: space-between;
}

.pontos {
  display: block;
}

.pontos li {
  display: flex;
  justify-content: space-between;
  margin: 30px 50px 30px 50px;
  font-size: 32px;
}

.negresco {
  font-weight: bold;
}

.imgTurmas {
  display: flex;
  justify-content: space-between;
}

.butEstatistica {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin: 0px auto 30px auto;
  border-radius: 50px;    
}

.butEstatistica button {
  margin: 0px 20px 0px 20px;
  border: none;
  background: none;
  font-size: 60px;
  cursor: pointer;
}

.butEstatistica label {
  font-size: 28px;
  color: #000;
}

.enviar {
  border: none;
  margin-left: 0px;
  margin-top: 10px;
  box-shadow: 0 2px 3px #000;
  background-color: white;
  font-size: 28px;
  border-radius: 5px;
  cursor: pointer;
}

.turmaSelecionada {
  font-size: large;
  font-weight: bold;
}

.turmas {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  font-size: 19px;
  width: auto;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .cont {
    width: auto;
    padding: 20px 10px 20px 10px;
    margin: 25px 5px 10px 5px;
    background-color: #ebf0f7;
    border-radius: 12px;
  }
  .caixa {
    width: auto;
    text-align: center;
    padding: 20px;
    background-color: #122f4a;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    overflow-y: auto;
    margin: auto;
    margin-top: 32px;
  }
  .caixa img {
    width: 120px;
  }
  .partidas a {
    font-size: 20px;
  }
  .pontos li {
    margin: 30px 0px 30px 0px;
    font-size: 26px;
  }
}