body{
    font-family: "Poppins", sans-serif;
    background-color: #ebf0f7;
    display: flex;
    margin: 0;
    padding: 0;
}

input{
    height: 30px;
    padding: 0 20px 0 20px;
    background: #FFFFFF 0 0 no-repeat padding-box;
    border: 1px solid #888888;
    border-radius: 4px;
    font-size: 1em;
    margin-bottom: 10px;
}

label{
    display: block;
    margin-bottom: 10px;
}

.caixa {
    width: auto;
    color: #ebf0f7;
    background-color: #ebf0f7 ;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    overflow-y: auto;
    margin:auto;
    margin-top:79px;
}

.caixa button, select {
    padding: 5px;
    height: 30px;
    border: none;
    box-shadow: 0 2px 3px #00000029;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    color: #000000;
    cursor: pointer;
    margin-bottom: 10px;
}

.caixa button {
    margin-top: 10px;
}

.caixa h3{
    font-size: 1.73rem;
    margin-bottom: 18px;
}

.divisao {
    background-color: #122f4a;
    border-radius: 20px;
    margin-bottom: 40px;
    padding: 15px;
    color: #ebf0f7;
}

@media (min-width: 912px ){

    .caixa {
        width: 800px;
        padding: 20px;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
        overflow-y: auto;
        margin-top: 25px;
    }

    .caixa h3{
    font-size: 2.4rem;
    }
}